:root {
    --primary-color: #6a0572; /* Roxo escuro para elementos principais */
    --secondary-color: #1a1a1a; /* Preto quase total para fundo ou detalhes */
    --text-light: #ffffff; /* Texto branco */
    --text-dark: #e0e0e0; /* Texto cinza claro para contraste em fundo escuro */
    --accent-color: #9d00ff; /* Um roxo mais vibrante para destaques */
    --border-color: #444; /* Borda mais escura para contraste */
}
  
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--secondary-color);
  color: var(text-dark);

  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  border: 1px solid var(--border-color);
}

  img {
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 15px rgba(157, 0, 255, 0.4);
  }

  h1 {
    color: var(--accent-color);
    margin-bottom: 5px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
  }

  h3 {
    font-weight: normal;
    font-style: italic;
    color: var(--text-light);
    margin-top: 0;
  }

  #contato, #info, #exp, table, .links-atividades {
    margin-top: 25px;
  }

  #contato ul {
    list-style: none;
    padding: 0;
  }

  #contato h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    line-height: 1.8;
    color: var(--text-light);
  }
    
  #info {
    color: var(--text-light);
  }  
  
  table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
  }

  th, td {
    border: 1px solid var(--border-color);
    padding: 12px;
    text-align: left;
    color: var(--text-light);
  }

  th {
    background-color: var(--primary-color);
    font-weight: bold;
    color: var(--text-light);
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #2a2a2a;
  }

  tr:hover {
    background-color: #3a3a3a;
  }

  a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
    color: #b366ff;
  }

  #atividades {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  #atividades a {
    display: inline-block;
    padding: 8px 15px;
    bakcground-color: var(--primary-color);
    color: var(--text-light);
    border-radius: 4px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    border: 1px solid var(--accent-color);
    box-shadow: 0 2px 5px rgba(157, 0, 255, 0.3);
  }

  #atividades a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(157, 0, 255, 0.5);
  }
