body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  maring-bottom: 10px;
  color: #000
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #999;
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.campo-erro {
  border: 2px solid #e74c3c !important;
  background-color: #fceae9;
}

.msg-erro {
  color: #e74c3c;
  font-size: 0.8em;
  margin-left: 220px;
  display: none;
}

.matricula-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.coluna-mat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titulo-coluna {
  font-weight: bold;
  color: #2960b9;
  margin-bottom: 10px;
  display: block;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
}

.radio-item, .check-grid label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.check-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.botoes-container {
  text-align: center;
  margin-top: 30px;
}

button {
 padding: 12px 30px;
 border: none;
 border-radius: 25px;
 font-size: 1rem;
 cursor: pointer;
 font-weight: bold;
 transition: 0.3s; 
}

.btn-enviar {
  background-color: #2980b9;
  color: white;
}

.btn-enviar:hover { background-color: #1abc9c }

.btn-limpar {
  background-color: #e74c3c;
  color: white;
  margin-left: 15px;
}

.btn-limpar:hover { background-color: #c0392b; }
