body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f0f0f0;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  maring-bottom: 10px;
  color: #000
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #999;
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.campo-erro {
  border: 2px solid #e74c3c !important;
  background-color: #fceae9;
}

.msg-erro {
  color: #e74c3c;
  font-size: 0.8em;
  margin-left: 220px;
  display: none;
}
