body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: white;
  width: 80%;
  max-width: 1200px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  margin: 0 0 10px 0;
  color: #1a237e;
}

h2 {
  text-align: center;
  font-weight: 300;
  margin: 0 0 30px 0;
  color: #7986cb;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 30px;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3949ab;
  border-bottom: 2px solid #e8eaf6;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 15px;
  align-items: center;
}

label {
  text-align: rignt;
  font-weight: 600;
  color: #555;
  font-size: 0.9rem;
}

input[type='text'], input[type='email'], input[type='number'], select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.3s;
}

input:focus select:focus {
  ooutline: none;
  border-color: #3949ab;
  box-shadow: 0 0 0 3px rgba(57, 73, 171, 0.1);
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}
.input-pequeno { width: 70px !important; text-align: center; }
.input-medio { width: 140px !important; }

input[type='number']::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

.grid-opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.label-opcao {
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: left;
  font-weight: normal;
  cursor: pointer;
}

.input-erro {
  border-color: #d32f2f !important;
  background-color: #ffebee;
}

.mensagem-erro {
  grid-column: 2;
  color: #d32f2f;
  font-size: 0.8rem;
  height: 0;
  overflow: hidden;
  transition: height 0.3s
}

.mensagem-erro.ativo: {
  height: 20px;
  margin-bottom: 5px;
}

#tela-sucesso {
  display: none;
  text-align: center;
  padding: 50px 20px;
}

.icone-sucesso {
  font-size: 80px;
  color: #43a047;
  margin-bottom: 20px;
}

.btn-container {
  text-align: center;
  margin-top: 30px;
}

button {
  padding: 12px 40px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #3949ab;
  color: white;
  transition: transform 0.2s
}

button:hover { background: #303f9f; transform: translateY(-2px); }
button.btn-reset { background: #e0e0e0; color: #333; margin-left: 15px; }

@media (max-width: 660px) {
  .form-grid { grid-template-columns: 1fr; }
  label { text-align: left; margin-top: 10px; }
  .mensagem-erro { grid-column: 1; }
  .grid-opcoes { grid-template-columns: 1fr; }
}
