body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f0f0f0;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  maring-bottom: 10px;
  color: #000
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  color: #000;
}

hr {
  border: 0;
  border-top: 1px solid #999;
  margin-bottom: 20px;
}
